#sidebar-profile-body .nick-name, .news-list .nick-name, .list-content-with-icon-and-text .nick-name a, .user-name a {
    color: #fff;
}
.post-permalink-button:hover, .favorite-community-link.symbol, .trigger:active, #wrapper, #reply-content button.more-button:hover, .spoiler-button:hover, #sidebar-profile-status, #guide-menu:hover, .community-eyecatch-info:hover, #reply-content .list > li.my:hover, .big-button:hover, .sidebar-setting a:hover, .multi-timeline-post-list .post.hidden .screenshot-container, .multi-timeline-post-list .post .screenshot-container, .trigger:hover, .textarea-container .community-container, .post-form-album-content, .admin-messages .post.my, #identified-user-banner:hover, .sidebar-setting a.selected, .sidebar-container h4 a:hover, #yeah-content, .sidebar-profile .profile-comment, .post-list .recent-reply-content, .community-name .owner, .post-list-heading-button, .topic-title-input, .textarea, .yeah, .nah, .hidden-content-button, .community-description {
    background-color: #161616 !important;
}
body, .favorite-community-link.symbol:hover, .post.hidden:hover, .filtering-label, .post-list .recent-reply-content .recent-reply:hover, .post-list .recent-reply-content .recent-reply-read-more-container:hover, .arrow-button:hover, #post-diary-window, .spoiler-button, .dialog .window-body, .digest .post .icon-container, .icon-container #icon, #sidebar-profile-body #icon, .sidebar-container, .community-container, #global-menu #global-my-menu, .guest#post-permlink .guest-message p, form.search input[type="text"], form.search input[type="submit"], .warning-content, .community-card-list > li, .post-permalink-button, select {
    background-color: #202020 !important;
}
body, .community-title, #footer-selector li button, #footer-inner p a, .post-list.empty, .album-list.empty, .list > .no-content, .no-content, .community-game-title, .arrow-button, .post .hidden-content button, .post .deleted-message button, .post .hidden_as_violation button, .post .hidden-content a, .post .deleted-message a, .post .hidden_as_violation a, .community-container-heading a, .list-content-with-icon-and-text .text, .list-content-with-icon-and-text .id-name, #sidebar-profile-body .id-name, #post-diary-window p, .sidebar-container h4 a, .post-list .empathized-user-name, .post-list .acted-user-name, .post-list .recommend-user-title, .headline h2, #post-content .post-content-text, #global-menu li a, #global-menu li button, #sidebar-profile-status .number, .community-name, .community-name a, .community-list .title, .sidebar-setting .sidebar-menu-relation:before, #reply-content button.more-button, .sidebar-profile .profile-comment, .guest#post-permlink .guest-message p, form.search input[type="text"], .community-name .owner, .post-list-heading-button, .topic-title-input, .textarea, .yeah, .nah, .post-permalink-button, .hidden-content-button, .community-description, select {
    color: #CCCCCC !important;
}
.spoiler-button {
    border: 1px solid #000000;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.post-form-album-content {
    border: 1px solid #000000;
}
#identified-user-banner span img {
    border: 1px solid #000000 !important;
}
.post-form-album-content:before {
    border-bottom-color: #000000;
}
#sidebar-cover {
    border-bottom: 1px solid #000000;
}
.post-list-heading-button {
    border: 1px solid #000000;
    border-bottom-color: #000000;
}
.follow-done-button:after {
    content: 'ing';
}
button.unfollow-button.button.symbol:after {
    content: 'ing';
}
.filtering-label .button {
    border-left: 1px solid #000000;
}
.mask {
    background: rgba(0, 0, 0, 0.6);
}
.post-list-heading-button:hover {
    background: rgb(35, 35, 35);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.topic-title-input, .textarea {
    border: 1px solid #000000;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.12), 0 1px 0 #211e1e;
}
.hidden-content-button {
    border: 1px solid #000000;
    border-bottom-color: #000;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.hidden-content-button:hover {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 2px 4px rgba(0,0,0,0.1);
}
.yeah, .nah {
    border: 1px solid #000000;
    border-bottom-color: #000;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.yeah:hover, .nah:hover {
    background: rgb(35, 35, 35);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.yeah:disabled:hover, .nah:disabled:hover {
    background: #161616;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.setting-form li {
    border-bottom: 1px solid #000000;
}
form.search input[type="submit"] {
    color: #646464;
}
.sidebar-setting .sidebar-menu-relation:before {
    color: #000000;
}
.community-list-cover {
    border-bottom: 1px solid #000;
}
.simple-wrapper.simple-wrapper-content #wrapper {
    margin: 0px auto 0;
}
.simple-wrapper.simple-wrapper-content #main-body {
    border: 1px solid rgba(21, 20, 20, 0) !important;
}
.warning-content {
    border: 1px solid rgb(0, 0, 0);
}
.community-eyecatch-balloon {
    color: #CCCCCC;
    background: rgb(32, 32, 32);
}
.community-eyecatch-balloon:after {
    border-color: transparent rgb(32, 32, 32) rgba(0, 0, 0, 0) transparent;
}
.post-body .multi-timeline-post-list .post-subtype-artwork .hidden-content {
    background-color: #161616;
    border-top: 1px dashed #000000;
}
.community-list .siblings {
    color: #969696;
    border-left: 1px solid #000000;
}
.post-list > .post-list-outline {
    border-top: 1px solid rgb(0, 0, 0);
}
#main-body > .no-content {
    background: #202020 none repeat scroll 0% 0%;
    border: 1px solid #000;
    box-shadow: 0px 1px 0px #000;
}
.news-list .notify {
    background: #424242;
}
.tab2 a, .tab3 a {
    background-color: #202020;
    background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020), color-stop(0.5, #202020));
    background: -webkit-linear-gradient(top, #202020 0%, #202020 50%, #202020 100%);
    background: -moz-linear-gradient(top, #202020 0%, #202020 50%, #202020 100%);
    background: -ms-linear-gradient(top, #202020 0%, #202020 50%, #202020 100%);
    background: -o-linear-gradient(top, #202020 0%, #202020 50%, #202020 100%);
    background: linear-gradient(top, #202020 0%, #202020 50%, #202020 100%);
    color: #CCCCCC;
    border: 1px solid #000000;
    border-bottom-color: #000;
}
.album-dialog .album-close-button {
    background: -webkit-linear-gradient(bottom, #202020, #202020);
    border: 1px solid #000000;
}
.tab2 a:hover:not(.selected), .tab3 a:hover {
    background: #161616;
    -webkit-box-shadow: inset 0 1px 0 #161616, 0 2px 4px rgba(22, 22, 22, 0);
    -moz-box-shadow: inset 0 1px 0 #161616, 0 2px 4px rgba(22, 22, 22, 0);
    -ms-box-shadow: inset 0 1px 0 #161616, 0 2px 4px rgba(22, 22, 22, 0);
    -o-box-shadow: inset 0 1px 0 #161616, 0 2px 4px rgba(22, 22, 22, 0);
    box-shadow: inset 0 1px 0 #161616, 0 2px 4px rgba(22, 22, 22, 0);
}
.tab2 > a:first-child, .tab3 > a:first-child {
    border-left: 1px solid #000000;
}
.community-eyecatch-infoicon, select {
    border: 1px solid #000000;
}
.open-topic-post-existing-warning {
    background-color: rgb(32, 32, 32);
}
.open-topic-post-existing-warning .content {
    border: 2px solid #E8316E;
}
.list .toggle-button .button:before {
    color: #CCC;
    width: 30px;
    height: 34px;
    border: 1px solid #000000;
    border-bottom-color: #000;
    box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.9);
}
.topic-categories-container {
    background: #202020;
    -webkit-box-shadow: 0 1px 0 #202020;
    -moz-box-shadow: 0 1px 0 #202020;
    -ms-box-shadow: 0 1px 0 #202020;
    -o-box-shadow: 0 1px 0 #202020;
    box-shadow: 0 1px 0 #202020;
}
.button {
    border: 1px solid rgb(0, 0, 0);
    border-bottom-color: #000;
    background: #202020;
    color: #CCCCCC;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.button:hover {
    background: #161616;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0);
}
.post-list a.another-posts {
    background-color: rgba(0, 0, 0, 0.04);
    border-top: 1px solid #000000;
    color: #CCCCCC;
}
.sidebar-setting li {
    border-top: 1px solid #000000;
}
.community-list .icon-container #icon {
    border: 1px solid #000000;
}
#sidebar-profile-status li a > span {
    display: block;
    border-right: 1px solid #202020;
}
#global-menu li#global-menu-mymenu .icon-container img {
    border: 1px solid #000000;
    width: 36px;
    height: 36px;
}
#global-menu #global-my-menu {
    border: 2px solid #000000;
}
#global-menu #global-my-menu:before {
    border-color: transparent;
    border-bottom-color: #000000;
}
#global-menu #global-my-menu:after {
    border-color: transparent;
    border-bottom-color: #202020;
}
#global-menu #global-my-menu .my-menu-dark-toggle:before {
     content: '2';
}
.list-content-with-icon-and-text li {
    border-top: 1px solid #000000;
}
.filter-button {
    color: #CCCCCC;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(0, 0, 0);
}
.filter-button:hover {
    background-color: rgba(22,22,22,1);
    color: #696666;
}
#community-eyecatch-main > div {
    background: #202020;
    border: 1px solid rgb(0, 0, 0);
}
#guide-menu {
    background: #202020;
    border: 1px solid rgb(0, 0, 0);
}
#guide-menu .arrow-button {
    border-top: 1px solid #000000;
}
#community-favorite {
    background: #202020;
    border: 1px solid rgb(0, 0, 0);
}
#identified-user-banner {
    background: #202020;
    border: 1px solid rgb(0, 0, 0);
}
.digest .post .body {
    background: #202020;
    border: 1px solid rgb(0, 0, 0);
}
.digest .post .body:after {
    border-color: transparent #202020 transparent transparent;
}
.digest .post .body:before {
    border-color: transparent #000 transparent transparent;
}
.digest .post .community-container {
    border: 1px solid #000000;
    border-top: 1px solid #000000;
}
.accepting > span {
    background-color: rgba(255, 247, 179, 0);
    color: #ACE33E;
}
.accepting > span:before {
    content: "• ";
    color: #00F903;
}
.not-accepting > span {
    background-color: rgba(255, 247, 179, 0);
    color: #969696;
}
.not-accepting > span:before {
    content: "• ";
    color: #FF0000;
}
.guest#post-permlink .guest-message .arrow-button {
    border-top: 1px solid #000000;
}
.community-card-list > li {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #000000;
}
#sub-body {
    background: #202020;
    border-bottom: 2px solid #000000;
    box-shadow: 0 0 15px #000000;
}
.content-loading-window.activity-feed img {
  visibility: hidden;
  width: 22px;
  height: 22px;
}
.post-form-album-content:after {
    border-bottom-color: #1a1a1a;
}
.pager-button {
    background: #1A1A1A;
    border: 1px solid #000;
}
.pager-button .back-button {
    border-right: 1px solid #000000;
}

.pager-button .next-button {
    border-left: 1px solid #000000;
}
.pager-button .button {
    color: #969696;
}
.guest #about {
    background: #202020;
    border-bottom: 2px solid #000000;
}
.guest .guest-terms-link:hover {
    background-color: #E64E25;
}
.tutorial-window {
    background-color: rgb(32, 32, 32);
}
.post-list .recent-reply-content {
    border-top: 1px solid #000000;
}
.post-list .recent-reply-content .recent-reply-read-more-container {
    border-bottom: 1px solid #000000;
}
h2.label-diary_post, h2.label-diary {
    border-bottom: 3px solid #04c9db;
    color: #00b7d8;
}
h2.label-artwork_post, h2.label-artwork {
    border-bottom: 3px solid #fcc735;
    color: #ffae00;
}
h2.label-topic_post, h2.label-topic {
    border-bottom: 3px solid #e8316e;
    color: #e8316e;
}
.post-list-outline {
    background: #202020;
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.community-container {
    border-bottom: 1px solid #000000 !important;
}
.list > li, .list > div, .list > a, .list > span {
    border-top: 1px solid #000000;
}
#sidebar-community .sidebar-setting a {
    border-top: 1px solid #000000;
}
.sidebar-container {
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.big-button {
    background: #fff;
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    background-color: #202020;
    color: #CCCCCC;
}
form.search {
    background: #fff;
    border: 2px solid #000000;
}
.sidebar-setting a {
    color: #CCCCCC;
    border-top: 1px solid #000000;
}
.user-data .note {
    border-bottom: 2px dashed #161616;
    color: #CCCCCC;
}
#footer {
    background: transparent;
    text-align: center
}
#sidebar-profile-body #icon {
    border: 1px solid #000000;
}
.icon-container #icon {
    border: 1px solid #000000;
}
.digest .post .icon-container {
    border: 1px solid rgb(0, 0, 0);
}
#yeah-content .post-permalink-feeling-icon img {
    border: 1px solid #000000;
    background: transparent;
}
#yeah-content {
    border: 1px solid #000000;
}
#reply-content button.more-button {
    border: #000000;
}
#reply-content .list .my {
    background-color: #191818 !important;
}
#reply-content .info-reply-list + button.more-button, #reply-content .more-button + .more-button {
    border-top: 1px solid #000000;
}
.dialog .window-body {
  border: 1px solid #050207;
}
#post-form + #community-post-list .list > div:first-child {
    border-top: 1px solid #000000;
}
.user-community .icon-container .user-icon {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(221, 221, 221, 0);
}
#wrapper, #image-header-content {
    background-image: url(https://i.imgur.com/OsdQHpc.png) !important;
}
#yeah-content:before {
    background: url(https://i.imgur.com/QIrWWFS.png) no-repeat 0 0 !important;
}

@media screen and (max-width: 980px) {
    #global-menu #global-menu-list > ul > li > a:hover {
        background-color: #333 !important;
    }
    #global-menu #global-menu-list > ul > li#global-menu-my-menu button:hover {
        background-color: #333 !important;
    }
    .sidebar-setting .sidebar-post-menu a {
        border-right: 1px dashed #000000;
    }
}